.centeredText {
    text-align: center;
    font-size: 2rem;
    margin-left: 8rem; 
    color: #5d5d5d;
    margin-top: 2em;
    border: 2px solid #5d5d5d;
    padding: 1em;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  